<div class="container">
<div id="wrap">
    <h1>Login to Global Pay</h1>
    <div id="app">
        <div>
            <div class="alert-warning alert alert-danger" *ngIf="invalidLogin">{{errorMessage}}</div>
            <h2>User Name</h2>
            <input type="text" name="username" [(ngModel)]='username'/>
        </div>
        <div>
            <h2>Password</h2>
            <input type="password" name="password" [(ngModel)]='password'/>
        </div>
        <button (click)=eventBindingOfLoginOrHandleLogin()>Log in</button>
    </div>
</div>
</div>